<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD25Sk5gN9d4c2lv06GaE3g4xhecbZt8mo</string>
	<key>GCM_SENDER_ID</key>
	<string>529381198955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mallige.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mallige-e252b</string>
	<key>STORAGE_BUCKET</key>
	<string>mallige-e252b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529381198955:ios:bfceccaddac9ae484e752e</string>
</dict>
</plist>